:host {
  display: flex;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 1125px) {
  :host {
    flex-flow: row nowrap;
  }
}

@media screen and (max-width: 1124px) {
  :host {
    flex-flow: column nowrap;
  }
}
