.visible-sidebar {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: column nowrap;
}

@media screen and (max-width: 1124px) {
  :host {
    width: 100%;
  }
}


@media screen and (min-width: 1125px) {
  .visible-sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
  }

  :host {
    width: 250px;
  }
}


nav {
  flex-grow: 1;
}
nav ul {
  margin: 0px;
  padding: 0px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav li {
  list-style-type: none;
  border: solid 1px;
  border-color: #a0a0a0;
  border-radius: 2px;
  text-transform: uppercase;
  transition: 0.3s;
  font-size: 0.8em;
  color: #a0a0a0;
  margin: 5px 10px 5px 10px;
  padding: 10px 15px 10px 15px;
}

nav li:hover {
  background-color: #a0a0a0;
  color: #ffffff;
  padding-left: 25px;
}

nav li:active {
  background-color: #909090;
}

footer {
  text-align: center;
  font-size: 0.7em;
  margin-bottom: 10px;
}
