<div class="dossier">
<h1>Досье</h1>
  <p>Родился <span class="secret">{{birthday|date:'dd.MM.yyyy'}}</span> года в <span class="secret">г.Краснояске</span>.</p>
  <p class="lock">....[информация засекречена]....</p>
  <p>В 2012 году, прыгнул с Октябрьского моста на резиновом канате.</p>
  <p class="lock">....[информация засекречена]....</p>
  <p>C 2015 по 2016 проходил службу в <span class="secret">66 краснознаменной ракетной дивизии</span>. </p>
  <p class="lock">....[информация засекречена]....</p>
  <p>В 2018 году  получил высшее образование в <span class="secret">СибГУ</span> по специальности "<span class="secret">Информатика и вычислительная техника</span>" </p>
  <p>На данный момент занимается изучением Angular на курсах.</p>
  <p>До конца курса осталось - {{remainingTime}}</p>
</div>

